<package-def>
	<class name="ОписаниеКластера" file="src/Классы/ОписаниеКластера.os"/>
	<class name="ОписаниеСеансов" file="src/Классы/ОписаниеСеансов.os"/>
	<class name="ОписаниеСоединений" file="src/Классы/ОписаниеСоединений.os"/>
	<module name="ПараметрыПриложения" file="src/Модули/ПараметрыПриложения.os"/>
	<module name="ОбщегоНазначения" file="src/Модули/ОбщегоНазначения.os"/>
</package-def>