<package-def>
	<class name="ОписаниеКластера" file="Классы/ОписаниеКластера.os"/>
	<class name="ОписаниеСеансов" file="Классы/ОписаниеСеансов.os"/>
	<class name="ОписаниеСоединений" file="Классы/ОписаниеСоединений.os"/>
	<module name="ПараметрыПриложения" file="Модули/ПараметрыПриложения.os"/>
	<module name="Служебный" file="Модули/Служебный.os"/>
</package-def>